version: "3.8"

services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres
    environment:
      POSTGRES_USER: pr_user
      POSTGRES_PASSWORD: pr_password
      POSTGRES_DB: pr_service
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./migrations:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"
    

  app:
    build: .
    container_name: pr_service
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: pr_user
      DB_PASSWORD: pr_password
      DB_NAME: pr_service
    depends_on:
      - postgres
    ports:
      - "8080:8080"

volumes:
  pgdata:
